body {
  background: radial-gradient(steelblue, slategrey);
}

.home {
  text-align: center;
  width: 100%;
}

.hometop {
  border-bottom: 1px solid #000;
}

.homemid {
  width: 100%;
  padding: 10px 0;
  background-color: whitesmoke;
}

.NYClogo {
  width: 60%;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.NYClogo h1 {
  display: inline-block;
  font-size: 46px;
  margin: 0;
}

.NYClogo h2 {
  display: inline-block;
  vertical-align: top;
  margin: 13px 0 0 10px;
}

.logoleft {
  display: inline-block;
  height: 53px;
  padding-right: 10px;
  border-right: 2px solid black;
}

.NYClogo .logoright {
  display: inline-block;
  margin-top: 3px;
  margin-left: 5px;
  height: 80px;
  font-size: 13px;
  text-align: left;
  vertical-align: top;
}

.NYClogo .logoright p {
  margin: 0;
}

.homenav {
  width: 40%;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.skyline {
  margin: 10px auto;
  width: 640px;
  height: 480px;
  background: url("./skyline.jpg");
}

#users-wrapper {
  text-align: center;
  width: 700px;
  margin: 10px auto;
  padding: 15px 0 0;
  border: 1px solid black;
  background-color: whitesmoke;
  border-bottom: none;
}

.left, .right {
  display: inline-block;
  width: 25%;
  margin: 0 auto;
  vertical-align: top;
  padding: 10px;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.first, .last {
  display: inline-block;
  margin: 0 20px 10px 0;
}

.right button {
  margin-top: 10px;

}

.forms {
  width: 500px;
  padding: 15px;
  padding-bottom: 40px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid black;
  background-color: whitesmoke;
}

.forms label {
  display: block;
  width: 80%;
  margin: 15px;
}

.forms input {
  width: 250px;
  float: right;
}

.forms button {
  float: right;
  margin-right: 85px;
}

.dashboard {
  width: 800px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.query {
  width: 100%;
  border: 1px solid black;
  background-color: whitesmoke;
}

.a, .i, .t {
  display: inline-block;
  margin: 0 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 5px;
}

.white {
  color: whitesmoke;
  letter-spacing: 1px;
}

.nav {
  width: 200px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid black;
  background-color: whitesmoke;
}