body {
  background-color: slategrey;
}

.home {
  text-align: center;
  width: 100%;
}

.hometop {
  border-bottom: 1px solid #000;
}

.homemid {
  width: 100%;
  padding: 10px 0;
  background-color: whitesmoke;
}

.NYClogo {
  width: 60%;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.NYClogo h1 {
  display: inline-block;
  font-size: 46px;
  margin: 5px 0 0;
}

.NYClogo h2 {
  display: inline-block;
  vertical-align: top;
  margin: 13px 0 0 10px;
}

.logoleft {
  display: inline-block;
  height: 55px;
  padding-right: 10px;
  border-right: 2px solid black;
}

.NYClogo .logoright {
  display: inline-block;
  margin-top: 3px;
  margin-left: 5px;
  height: 80px;
  font-size: 13px;
  text-align: left;
  vertical-align: top;
}

.NYClogo .logoright p {
  margin: 0;
}

.homenav {
  width: 40%;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.skyline {
  margin: 10px auto;
  width: 640px;
  height: 480px;
  background: url("./skyline.jpg");
  border-radius: 5px;
}

.left, .right {
  display: inline-block;
  margin: 0 auto;
  vertical-align: top;
  padding: 10px;
}

.left {
  text-align: left;
  width: 40%;
}

.right {
  text-align: right;
  width: 25%;
}

.first, .last {
  display: inline-block;
  margin: 0 20px 10px 0;
}

.right button {
  margin-top: 10px;

}

.forms {
  width: 500px;
  padding: 20px;
  padding-bottom: 40px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  background-color: whitesmoke;
}

.forms label {
  display: block;
  width: 80%;
  margin: 15px;
}

.forms input {
  width: 250px;
  float: right;
}

.forms textarea {
  width: 249px;
  margin: 5px -30px -10px 30px;
  vertical-align: top
}

.forms button {
  float: right;
  margin-right: 80px;
}

.dashboard {
  width: 800px;
  margin: 10px auto;
  padding: 10px;
  text-align: center;
}

.suggestionBoard {
  width: 80%;
  margin: 10px auto;
  text-align: center;
  padding: 10px;
}

.query {
  width: 100%;
  padding: 15px;
  border: 1px solid grey;
  border-radius: 5px;
  background-color: whitesmoke;
}

.username {
  vertical-align: top;
  padding: 0;
  margin-right: 5%;
  margin-bottom: 20px;
}

.a, .i, .t {
  display: inline-block;
  margin: 0 20px 10px;;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px;
  border-radius: 5px;
}

.white {
  color: whitesmoke;
  letter-spacing: 1px;
}

.nav {
  width: 300px;
  padding: 10px;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  background-color: whitesmoke;
}

.create {
  width: 100px;
  padding: 10px;
  margin: 0 auto 0;
  text-align: center;
  border-radius: 5px;
  background-color: whitesmoke;
}

.push {
  margin-top: 25px;
}

.bottom {
  margin-bottom: 0
}

.bigger {
  font-size: 20px;
}

.wide {
  width: 60%;
}

.title, .content {
  margin-bottom: 10px;
}

.way-bigger {
  width: 200px;
  height: 150px;
  font-size: 24px;
}