body {
  background: radial-gradient(#162a29, #233428);
}

.home {
  text-align: center;
  width: 100%;
}

.hometop {
  border-bottom: 1px solid #000;
}

.homemid {
  width: 100%;
  padding: 10px 0;
  background-color: whitesmoke;
}

.NYClogo {
  width: 60%;
  display: inline-block;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.NYClogo h1 {
  display: inline-block;
  font-size: 46px;
  margin: 0;
}

.NYClogo h2 {
  display: inline-block;
  vertical-align: top;
  margin: 13px 0 0 10px;
}

.logoleft {
  display: inline-block;
  height: 53px;
  padding-right: 10px;
  border-right: 2px solid black;
}

.NYClogo .logoright {
  display: inline-block;
  margin-top: 3px;
  margin-left: 5px;
  height: 80px;
  font-size: 13px;
  text-align: left;
  vertical-align: top;
}

.NYClogo .logoright p {
  margin: 0;
}

.homenav {
  width: 40%;
  margin-top: 15px;
  display: inline-block;
  vertical-align: top;
}

.skyline {
  margin: 0 auto;
  width: 640px;
  height: 480px;
  background: url("./skyline.jpg");
}